.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
}

.photo-grid__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 24px;
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    padding: 0 16px;
  }

  .photo-grid__list {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
