.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 48px 0;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 88px 24px 0;
    gap: 72px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 288px;
    padding: 64px 16px 0;
    gap: 50px;
  }
}
